---
layout: default
state: pages#index
---

.left-photo
  {% img chairs-purple.png class:'chairs' %}
  {% img me-2017.png class:'me' %}

.content
  %main
    /
      .h1
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio asperiores, cumque dolore nesciunt facere repellat soluta. Eligendi totam velit tempora architecto. Eligendi voluptatem rerum obcaecati sunt totam molestiae cumque numquam?