.contact-info
  .embedded-video
    %iframe.motion-reel{ src: "https://player.vimeo.com/video/146427359?color=fdf16f&byline=0&portrait=0",
                         frameborder: "0",
                         webkitallowfullscreen: true,
                         mozallowfullscreen: true,
                         allowfullscreen: true }
  %hr
  %h2.h2 PEDRO@PEDROMACIEL.COM / +55 11 95252 8011