%nav.main
  %a.watch-introduction.disabled{:href => 'javascript:void(0)'} Loading my introduction…
  %a{:href => 'portfolio', data:{auto_route: true } } See my portfolio
  / %a{:href => '//br.linkedin.com/pub/pedro-maciel/22/752/a41', target: '_blank'} LinkedIn