@import '../vendor/bourbon/app/assets/stylesheets/bourbon'
@import "font-awesome-sprockets"
@import "font-awesome"

+font-face('Simple',        'simple-light',    100, $asset-pipeline: true, $file-formats: eot woff ttf svg)
+font-face('Simple',        'simple-regular',  500, $asset-pipeline: true, $file-formats: eot woff ttf svg)
+font-face('Simple',        'simple-bold',     900, $asset-pipeline: true, $file-formats: eot woff ttf svg)
+font-face('SimpleTitling', 'simple-bold',     900, $asset-pipeline: true, $file-formats: eot woff ttf svg)
+font-face('SimpleTitling', 'simple',          900, $asset-pipeline: true, $file-formats: eot woff ttf svg)
+font-face('Vectrex',       'vectrex-light',   100, $asset-pipeline: true, $file-formats: eot woff ttf svg)
+font-face('Vectrex',       'vectrex-regular', 500, $asset-pipeline: true, $file-formats: eot woff ttf svg)
+font-face('Vectrex',       'vectrex-bold',    900, $asset-pipeline: true, $file-formats: eot woff ttf svg)

$p: 12px
$mili-p: $p/3
$micro-p: $p/6
$nano-p: $p/12

$main-width: 54
$column-width: 24
$margin: 0.5

$cubic-bezier: cubic-bezier(0,.88,.08,.99)

$black: #000
$white: #fff
$yellow: #FFF030
$space-gray: #121212
$light-gray: #494949
$light-purple: #6F22FF
$purple: #2F0089

$std-delay: 0.5s

@import 'main'