*
	box-sizing: border-box

body
	padding: 20px
	font-family: Arial

	> *
		margin: 5px
		padding: 15px

	> header
		border-bottom: 1px solid #000

input, label, button, textarea
	margin: 5px 0
	display: block
	width: 100%

h1,h2,h3,h4,h5
	text-transform: uppercase