*
	box-sizing: border-box
	font-family: "courier new"
	font-size: 14px

body
	padding: 40px
	margin: 40px
	border: 1px solid #000

	> *
		margin: 5px
		padding: 15px

	> header
		border-bottom: 1px solid #000

input, label, button
	display: block
	width: 100%

h1,h2,h3,h4,h5
	text-transform: uppercase