@font-face
    font-family: 'Vectrex'
    src: asset-url('vectrex-small.eot')
    font-weight: 100

@font-face
    font-family: 'Vectrex'
    src: asset-url('vectrex-small.woff') format('woff'), asset-url('vectrex-small.svg#Vectrex') format('svg')
    font-weight: 100

@font-face
    font-family: 'Vectrex'
    src: asset-url('vectrex.eot')
    font-weight: 500

@font-face
    font-family: 'Vectrex'
    src: asset-url('vectrex.woff') format('woff'), asset-url('vectrex.svg#Vectrex') format('svg')
    font-weight: 500

@font-face
    font-family: 'Vectrex'
    src: asset-url('vectrex-big.eot')
    font-weight: 900

@font-face
    font-family: 'Vectrex'
    src: asset-url('vectrex-big.woff') format('woff'), asset-url('vectrex-big.svg#Vectrex') format('svg')
    font-weight: 900


$font-copy: "Raleway"
$font-title: "Vectrex"