input
    display: block
    height: 3*$p
    font-size: $p
    margin: $p/2 0
    background-color: transparent
    border: 1px solid $black
    color: $black
    padding: 0
    width: 100%

input[type="checkbox"]
    float: left
    display: inline-block
    width: auto

label
    display: block

.admin-group
    width: 50%
    float: left