---
---

!!!
/
  ______  _______ ______   ______  _____
  |_____] |______ |     \ |_____/ |     |
  |       |______ |_____/ |    \_ |_____|

  _______ _______ _______ _____ _______
  |  |  | |_____| |         |   |______ |
  |  |  | |     | |_____  __|__ |______ |_____

  enjoy the source code!

%html
  %head
    %title Pedro Maciel — Full Stack Developer / Designer
    {% css app %}
    {% js app %}
    %link(rel='icon' href='favicon.png' type="image/png")
    %meta(name="viewport" content="width=device-width")
    %meta(name="theme-color" content="#FFF030")

  %body(data-state="{{ page.state }}")
    %header
      .spacer.right-column
        .logo-bar
        .tag-bar

      .logo-signature{href: "/", data: {auto_route: true}}
        .logo
          {% include svg/logo-pb.svg %}
        .tagline
          %h1.h3 Full Stack Developer / Designer
          {% for i in (1..54) %}
          .square
          {% endfor %}


        %nav.main
          %a{:href => '/', data:{auto_route: true } } About me
          %a{:href => '/portfolio', data:{auto_route: true } } Portfolio

      .spacer.left-column
        .logo-bar
        .tag-bar

    .left-photo
      {% img chairs-purple.png class:'chairs' %}
      {% img me-2017.png class:'me' %}

    {{ content }}

  %footer
    %h2.h2
      %a{href: 'mailto://PEDRO@PEDROMACIEL.COM'} PEDRO@PEDROMACIEL.COM
      /
      %phone +55 11 95252 8011
      %a{href: '//{{ site.social.linkedin }}',  target: '_blank'} <i class='fa fa-linkedin'></i>
      %a{href: '//{{ site.social.github }}',    target: '_blank'} <i class='fa fa-github'></i>
      / %a{href: '//{{ site.social.facebook }}',  target: '_blank'} <i class='fa fa-facebook'></i>
      / %a{href: '//{{ site.social.instagram }}', target: '_blank'} <i class='fa fa-instagram'></i>
      %a{href: '//{{ site.social.twitter }}',   target: '_blank'} <i class='fa fa-twitter'></i>
