---
---

!!!
/
  ______  _______ ______   ______  _____
  |_____] |______ |     \ |_____/ |     |
  |       |______ |_____/ |    \_ |_____|

  _______ _______ _______ _____ _______
  |  |  | |_____| |         |   |______ |
  |  |  | |     | |_____  __|__ |______ |_____

  enjoy the source code!

%html
  %head
    %title Pedro Maciel — Full Stack Developer / Designer
    {% css app %}
    {% js app %}
    -# = favicon_link_tag "favicons/favicon.ico"
    %meta(name="viewport" content="width=device-width")
    %meta(name="theme-color" content="#FFF030")

  %body(data-state="{{ page.state }}")
    %header
      .spacer.left-column
        .logo-bar
        .tag-bar
      %a.logo-signature{href: "/", data: {auto_route: true}}
        .logo
          {% include svg/logo-pb.svg %}
        .tagline.bar
          %h1.h3 Full Stack Developer / Designer
      .spacer.right-column
        .logo-bar
        .tag-bar
    {% img me-2017.png class:left-photo %}
    {{ content }}