/* Webfont: Simple-RegularTitling */@font-face {
    font-family: 'SimpleTitling';
    src: url('Simple-RegularTitling.eot'); /* IE9 Compat Modes */
    src: url('Simple-RegularTitling.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Simple-RegularTitling.woff') format('woff'), /* Modern Browsers */
         url('Simple-RegularTitling.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Simple-RegularTitling.svg#Simple-RegularTitling') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

